# Прогнозирование total_quantity финальное убираем 2 фичи
## Исходные трейновые и тестовые выборки

In [1]:
!pip install seaborn

Requirement already satisfied: seaborn in c:\users\юни\appdata\local\programs\python\python39\lib\site-packages (0.11.1)
Requirement already satisfied: numpy>=1.15 in c:\users\юни\appdata\local\programs\python\python39\lib\site-packages (from seaborn) (1.20.2)
Requirement already satisfied: scipy>=1.0 in c:\users\юни\appdata\local\programs\python\python39\lib\site-packages (from seaborn) (1.6.2)
Requirement already satisfied: matplotlib>=2.2 in c:\users\юни\appdata\local\programs\python\python39\lib\site-packages (from seaborn) (3.4.1)
Requirement already satisfied: pandas>=0.23 in c:\users\юни\appdata\local\programs\python\python39\lib\site-packages (from seaborn) (1.2.4)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\юни\appdata\local\programs\python\python39\lib\site-packages (from matplotlib>=2.2->seaborn) (2.8.1)
Requirement already satisfied: cycler>=0.10 in c:\users\юни\appdata\local\programs\python\python39\lib\site-packages (from matplotlib>=2.2->seaborn) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\юни\appdata\local\programs\python\python39\lib\site-packages (from matplotlib>=2.2->seaborn) (1.3.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\юни\appdata\local\programs\python\python39\lib\site-packages (from matplotlib>=2.2->seaborn) (8.2.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\юни\appdata\local\programs\python\python39\lib\site-packages (from matplotlib>=2.2->seaborn) (2.4.7)
Requirement already satisfied: six in c:\users\юни\appdata\local\programs\python\python39\lib\site-packages (from cycler>=0.10->matplotlib>=2.2->seaborn) (1.15.0)
Requirement already satisfied: pytz>=2017.3 in c:\users\юни\appdata\local\programs\python\python39\lib\site-packages (from pandas>=0.23->seaborn) (2021.1)

WARNING: You are using pip version 21.1.2; however, version 21.1.3 is available.
You should consider upgrading via the 'c:\users\юни\appdata\local\programs\python\python39\python.exe -m pip install --upgrade pip' command.

In [2]:
!pip install statsmodels

Requirement already satisfied: statsmodels in c:\users\юни\appdata\local\programs\python\python39\lib\site-packages (0.12.2)
Requirement already satisfied: pandas>=0.21 in c:\users\юни\appdata\local\programs\python\python39\lib\site-packages (from statsmodels) (1.2.4)
Requirement already satisfied: scipy>=1.1 in c:\users\юни\appdata\local\programs\python\python39\lib\site-packages (from statsmodels) (1.6.2)
Requirement already satisfied: patsy>=0.5 in c:\users\юни\appdata\local\programs\python\python39\lib\site-packages (from statsmodels) (0.5.1)
Requirement already satisfied: numpy>=1.15 in c:\users\юни\appdata\local\programs\python\python39\lib\site-packages (from statsmodels) (1.20.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\юни\appdata\local\programs\python\python39\lib\site-packages (from pandas>=0.21->statsmodels) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\юни\appdata\local\programs\python\python39\lib\site-packages (from pandas>=0.21->statsmodels) (2.8.1)
Requirement already satisfied: six in c:\users\юни\appdata\local\programs\python\python39\lib\site-packages (from patsy>=0.5->statsmodels) (1.15.0)

WARNING: You are using pip version 21.1.2; however, version 21.1.3 is available.
You should consider upgrading via the 'c:\users\юни\appdata\local\programs\python\python39\python.exe -m pip install --upgrade pip' command.

In [3]:
!pip install tqdm

Requirement already satisfied: tqdm in c:\users\юни\appdata\local\programs\python\python39\lib\site-packages (4.61.2)
Requirement already satisfied: colorama in c:\users\юни\appdata\local\programs\python\python39\lib\site-packages (from tqdm) (0.4.4)

WARNING: You are using pip version 21.1.2; however, version 21.1.3 is available.
You should consider upgrading via the 'c:\users\юни\appdata\local\programs\python\python39\python.exe -m pip install --upgrade pip' command.

In [4]:
import numpy as np                               # vectors and matrices
import pandas as pd                              # tables and data manipulations
import matplotlib.pyplot as plt                  # plots
import seaborn as sns                            # more plots
sns.set()

from dateutil.relativedelta import relativedelta # working with dates with style
from scipy.optimize import minimize              # for function minimization

import statsmodels.formula.api as smf            # statistics and econometrics
import statsmodels.tsa.api as smt
import statsmodels.api as sm
import scipy.stats as scs

from itertools import product                    # some useful functions
from tqdm import tqdm_notebook

import warnings                                  # `do not disturbe` mode
warnings.filterwarnings('ignore')

%matplotlib inline

from datetime import datetime, date

In [5]:
today = date.today()

In [6]:
pd.set_option('display.max_columns', None)

In [7]:
data = pd.read_csv('pandas.data', sep='\t')

In [8]:
data

,lagerId,ds,businessId,filialArea_baseline,filialCount_baseline,QtySales_baseline,AmountSales_baseline,filialArea_activity,filialCount_activity,QtySales_activity,AmountSales_activity,StoreQtyDefault,EKT1ID,EKT2ID,EKT3ID,EKT4ID,EKT5ID,EKT6ID,privatelabel,country,trademark,importFozzy,CSB,PQS,Demand,lagerUnitQuantity,lagerGoldTypeId,holidayId,priceBefore,priceAction,avg_price_baseline,avg_price_promo,total_quantity,discount,total_sales_area,total_sales_count
0,1105,2017-01-01,1,238401.0,146.0,11.0,3735.62,0.0,0.0,0.0,0.0,755.0,98,40,5287,5289,5289,5289,0,21,1094,NaN,267,3.0,110.0,0.50,1,1.0,NaN,NaN,339.601818,339.601818,11.0,0.0,238401.0,146.0
1,1105,2017-01-02,1,238401.0,146.0,6.0,2096.00,0.0,0.0,0.0,0.0,746.0,98,40,5287,5289,5289,5289,0,21,1094,NaN,267,3.0,110.0,0.50,1,1.0,NaN,NaN,349.333333,349.333333,6.0,0.0,238401.0,146.0
2,1105,2017-01-03,1,238401.0,146.0,4.0,1408.00,0.0,0.0,0.0,0.0,743.0,98,40,5287,5289,5289,5289,0,21,1094,NaN,267,3.0,110.0,0.50,1,NaN,NaN,NaN,352.000000,352.000000,4.0,0.0,238401.0,146.0
3,1105,2017-01-04,1,238401.0,146.0,4.0,1392.00,0.0,0.0,0.0,0.0,745.0,98,40,5287,5289,5289,5289,0,21,1094,NaN,267,3.0,110.0,0.50,1,2.0,NaN,NaN,348.000000,348.000000,4.0,0.0,238401.0,146.0
4,1105,2017-01-05,1,238401.0,146.0,3.0,1040.00,0.0,0.0,0.0,0.0,745.0,98,40,5287,5289,5289,5289,0,21,1094,NaN,267,3.0,110.0,0.50,1,2.0,NaN,NaN,346.666667,346.666667,3.0,0.0,238401.0,146.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1783227,868058,2021-06-23,1,245176.0,143.0,2.0,298.00,0.0,0.0,0.0,0.0,858.0,98,40,5272,5279,5281,5281,0,7,13924,0.0,669,4.0,NaN,0.75,1,NaN,NaN,NaN,149.000000,149.000000,2.0,0.0,245176.0,143.0
1783228,868058,2021-06-24,1,250774.0,146.0,9.0,1340.99,0.0,0.0,0.0,0.0,874.0,98,40,5272,5279,5281,5281,0,7,13924,0.0,669,4.0,NaN,0.75,1,NaN,NaN,NaN,148.998889,148.998889,9.0,0.0,250774.0,146.0
1783229,868058,2021-06-25,1,250774.0,146.0,14.0,2078.55,0.0,0.0,0.0,0.0,863.0,98,40,5272,5279,5281,5281,0,7,13924,0.0,669,4.0,NaN,0.75,1,NaN,NaN,NaN,148.467857,148.467857,14.0,0.0,250774.0,146.0
1783230,868058,2021-06-26,1,250774.0,146.0,4.0,596.00,0.0,0.0,0.0,0.0,849.0,98,40,5272,5279,5281,5281,0,7,13924,0.0,669,4.0,NaN,0.75,1,NaN,NaN,NaN,149.000000,149.000000,4.0,0.0,250774.0,146.0
1783231,868058,2021-06-27,1,250774.0,146.0,11.0,1631.54,0.0,0.0,0.0,0.0,845.0,98,40,5272,5279,5281,5281,0,7,13924,0.0,669,4.0,NaN,0.75,1,NaN,NaN,NaN,148.321818,148.321818,11.0,0.0,250774.0,146.0

In [9]:
# импортируем всё, о чем говорили выше

from sklearn.metrics import r2_score, median_absolute_error, mean_absolute_error
from sklearn.metrics import median_absolute_error, mean_squared_error, mean_squared_log_error

def mean_absolute_percentage_error(y_true, y_pred): 
    return np.mean(np.abs((y_true - y_pred) / y_true)) * 100

Закинем все метрики в одну общую функцию, чтобы было удобно их печатать.

In [10]:
def print_metrics_train(y_train,y_pred):
    print('Метрики качества на train')
    print('MAE:', metrics.mean_absolute_error(y_train, y_pred))
    print('RMSE:', np.sqrt(metrics.mean_squared_error(y_train, y_pred)))
    print('R2:',  metrics.r2_score(y_train, y_pred))
    print('MAPE:', mean_absolute_percentage_error(y_train, y_pred))
    pass

In [11]:
def print_metrics_test(y_test,y_pred):
    print('Метрики качества на test')
    print('MAE:', metrics.mean_absolute_error(y_test, y_pred))
    print('RMSE:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))
    print('R2:',  metrics.r2_score(y_test, y_pred))
    print('MAPE:', mean_absolute_percentage_error(y_test, y_pred))
    pass

## Корректируем праздники

In [12]:
holidays_df = data[['holidayId', 'ds']].drop_duplicates().dropna()
holidays_df

      holidayId          ds
0           1.0  2017-01-01
1           1.0  2017-01-02
3           2.0  2017-01-04
4           2.0  2017-01-05
5           2.0  2017-01-06
...         ...         ...
1578        6.0  2021-04-28
1579        6.0  2021-04-29
1580        6.0  2021-04-30
1581        6.0  2021-05-01
1582        6.0  2021-05-02

[231 rows x 2 columns]

In [13]:
holidays_df['holiday'] = holidays_df['holidayId'].astype(int).astype(str)

In [14]:
holidays_df['lower_window'] = -1

In [15]:
holidays_df['upper_window'] = 1

In [16]:
holidays_df = holidays_df[holidays_df['holiday'] != '1']

In [17]:
new_year_days = pd.DataFrame({
                              
    'holiday': '777',
    'ds': pd.to_datetime(['2016-12-31',
                          '2017-12-31',
                          '2018-12-31',
                          '2019-12-31',
                          '2020-12-31',
                          '2021-12-31',
                          '2022-12-31',
                          '2023-12-31']),
    'lower_window': -4,
    'upper_window': 2,
})

In [18]:
holidays_df = pd.concat([holidays_df, new_year_days])

In [19]:
holidays_df[holidays_df['holidayId'] != holidays_df['holiday']]

    holidayId                   ds holiday  lower_window  upper_window
3         2.0           2017-01-04       2            -1             1
4         2.0           2017-01-05       2            -1             1
5         2.0           2017-01-06       2            -1             1
6         2.0           2017-01-07       2            -1             1
7         2.0           2017-01-08       2            -1             1
..        ...                  ...     ...           ...           ...
3         NaN  2019-12-31 00:00:00     777            -4             2
4         NaN  2020-12-31 00:00:00     777            -4             2
5         NaN  2021-12-31 00:00:00     777            -4             2
6         NaN  2022-12-31 00:00:00     777            -4             2
7         NaN  2023-12-31 00:00:00     777            -4             2

[205 rows x 5 columns]

In [20]:
holidays_df['holiday'].value_counts()

4      32
2      25
6      25
5      25
3      25
8      25
7      20
9      20
777     8
Name: holiday, dtype: int64

## Группируем данные

In [21]:
data

,lagerId,ds,businessId,filialArea_baseline,filialCount_baseline,QtySales_baseline,AmountSales_baseline,filialArea_activity,filialCount_activity,QtySales_activity,AmountSales_activity,StoreQtyDefault,EKT1ID,EKT2ID,EKT3ID,EKT4ID,EKT5ID,EKT6ID,privatelabel,country,trademark,importFozzy,CSB,PQS,Demand,lagerUnitQuantity,lagerGoldTypeId,holidayId,priceBefore,priceAction,avg_price_baseline,avg_price_promo,total_quantity,discount,total_sales_area,total_sales_count
0,1105,2017-01-01,1,238401.0,146.0,11.0,3735.62,0.0,0.0,0.0,0.0,755.0,98,40,5287,5289,5289,5289,0,21,1094,NaN,267,3.0,110.0,0.50,1,1.0,NaN,NaN,339.601818,339.601818,11.0,0.0,238401.0,146.0
1,1105,2017-01-02,1,238401.0,146.0,6.0,2096.00,0.0,0.0,0.0,0.0,746.0,98,40,5287,5289,5289,5289,0,21,1094,NaN,267,3.0,110.0,0.50,1,1.0,NaN,NaN,349.333333,349.333333,6.0,0.0,238401.0,146.0
2,1105,2017-01-03,1,238401.0,146.0,4.0,1408.00,0.0,0.0,0.0,0.0,743.0,98,40,5287,5289,5289,5289,0,21,1094,NaN,267,3.0,110.0,0.50,1,NaN,NaN,NaN,352.000000,352.000000,4.0,0.0,238401.0,146.0
3,1105,2017-01-04,1,238401.0,146.0,4.0,1392.00,0.0,0.0,0.0,0.0,745.0,98,40,5287,5289,5289,5289,0,21,1094,NaN,267,3.0,110.0,0.50,1,2.0,NaN,NaN,348.000000,348.000000,4.0,0.0,238401.0,146.0
4,1105,2017-01-05,1,238401.0,146.0,3.0,1040.00,0.0,0.0,0.0,0.0,745.0,98,40,5287,5289,5289,5289,0,21,1094,NaN,267,3.0,110.0,0.50,1,2.0,NaN,NaN,346.666667,346.666667,3.0,0.0,238401.0,146.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1783227,868058,2021-06-23,1,245176.0,143.0,2.0,298.00,0.0,0.0,0.0,0.0,858.0,98,40,5272,5279,5281,5281,0,7,13924,0.0,669,4.0,NaN,0.75,1,NaN,NaN,NaN,149.000000,149.000000,2.0,0.0,245176.0,143.0
1783228,868058,2021-06-24,1,250774.0,146.0,9.0,1340.99,0.0,0.0,0.0,0.0,874.0,98,40,5272,5279,5281,5281,0,7,13924,0.0,669,4.0,NaN,0.75,1,NaN,NaN,NaN,148.998889,148.998889,9.0,0.0,250774.0,146.0
1783229,868058,2021-06-25,1,250774.0,146.0,14.0,2078.55,0.0,0.0,0.0,0.0,863.0,98,40,5272,5279,5281,5281,0,7,13924,0.0,669,4.0,NaN,0.75,1,NaN,NaN,NaN,148.467857,148.467857,14.0,0.0,250774.0,146.0
1783230,868058,2021-06-26,1,250774.0,146.0,4.0,596.00,0.0,0.0,0.0,0.0,849.0,98,40,5272,5279,5281,5281,0,7,13924,0.0,669,4.0,NaN,0.75,1,NaN,NaN,NaN,149.000000,149.000000,4.0,0.0,250774.0,146.0
1783231,868058,2021-06-27,1,250774.0,146.0,11.0,1631.54,0.0,0.0,0.0,0.0,845.0,98,40,5272,5279,5281,5281,0,7,13924,0.0,669,4.0,NaN,0.75,1,NaN,NaN,NaN,148.321818,148.321818,11.0,0.0,250774.0,146.0

In [22]:
data['lagerId_with_discount'] = np.where(data['discount'] != 0, 1, np.nan)

In [23]:
# Группируем данные
grouped_data = data[['CSB',
                     'ds',
                     'businessId',
                     'lagerId',
                     'lagerId_with_discount',
                     'discount',
                     'filialArea_baseline',
                     'filialArea_activity',
                     'holidayId',
                     # Добавил новые параметры

                     
                     'total_quantity',
                     
                     ]].groupby(['CSB','ds','businessId']).agg({'lagerId': 'count',
                                                                'lagerId_with_discount': 'count',
                                                                'discount': ['min', 'max', 'mean', 'median', 'std'],
                                                                'filialArea_baseline': ['min', 'max', 'mean', 'median', 'std'],
                                                                'filialArea_activity': ['min', 'max', 'mean', 'median', 'std'],
                                                                'holidayId': 'mean',
#                                                               #Добавил новые параметры

                                                                
                                                                'total_quantity': 'sum'})
grouped_data

                           lagerId lagerId_with_discount  discount            \
                             count                 count       min       max
CSB  ds         businessId
235  2017-01-01 1               51                     0  0.000000  0.000000
     2017-01-02 1               51                     0  0.000000  0.000000
     2017-01-03 1               51                     0  0.000000  0.000000
     2017-01-04 1               51                     0  0.000000  0.000000
     2017-01-05 1               51                     2  0.000000  0.294152
...                            ...                   ...       ...       ...
4138 2021-06-23 1               16                     3 -0.018008  0.250784
     2021-06-24 1               16                     3 -0.017020  0.250784
     2021-06-25 1               16                     2  0.000000  0.201342
     2021-06-26 1               16                     3 -0.015615  0.201342
     2021-06-27 1               16                     1  0.000000  0.201342

                                                      filialArea_baseline  \
                                mean median       std                 min
CSB  ds         businessId
235  2017-01-01 1           0.000000    0.0  0.000000                 0.0
     2017-01-02 1           0.000000    0.0  0.000000                 0.0
     2017-01-03 1           0.000000    0.0  0.000000                 0.0
     2017-01-04 1           0.000000    0.0  0.000000                 0.0
     2017-01-05 1           0.011535    0.0  0.057665                 0.0
...                              ...    ...       ...                 ...
4138 2021-06-23 1           0.027132    0.0  0.078306                 0.0
     2021-06-24 1           0.027194    0.0  0.078268                 0.0
     2021-06-25 1           0.022829    0.0  0.062753                 0.0
     2021-06-26 1           0.011665    0.0  0.050732                 0.0
     2021-06-27 1           0.012584    0.0  0.050336                 0.0

                                                                              \
                                 max           mean    median            std
CSB  ds         businessId
235  2017-01-01 1           333678.0  161017.000000  172347.0  156526.691645
     2017-01-02 1           333678.0  161526.294118  171597.0  157029.137959
     2017-01-03 1           333678.0  162187.450980  168748.0  157788.190156
     2017-01-04 1           333678.0  162323.098039  166566.0  157973.241719
     2017-01-05 1           333678.0  149525.627451    3480.0  157116.651577
...                              ...            ...       ...            ...
4138 2021-06-23 1           380980.0   99741.062500   12337.0  145912.504111
     2021-06-24 1           380980.0   99482.562500   12337.0  145395.185642
     2021-06-25 1           383321.0  100100.875000   13407.5  146166.918786
     2021-06-26 1           383321.0  100070.437500   13407.5  145908.057692
     2021-06-27 1           382525.0   99617.125000   13407.5  145139.271948

                           filialArea_activity                                 \
                                           min       max          mean median
CSB  ds         businessId
235  2017-01-01 1                          0.0       0.0      0.000000    0.0
     2017-01-02 1                          0.0       0.0      0.000000    0.0
     2017-01-03 1                          0.0       0.0      0.000000    0.0
     2017-01-04 1                          0.0       0.0      0.000000    0.0
     2017-01-05 1                          0.0  330198.0  12948.941176    0.0
...                                        ...       ...           ...    ...
4138 2021-06-23 1                          0.0  156248.0  13077.125000    0.0
     2021-06-24 1                          0.0  149359.0  12646.562500    0.0
     2021-06-25 1                          0.0  150555.0  12662.937500    0.0
     2021-06-26 1                          0.0  146093.0  12571.437500    0.0
     2021-06-27 1                          0.0  139751.0  14088.250000    0.0

                                         holidayId total_quantity
                                     std      mean            sum
CSB  ds         businessId
235  2017-01-01 1               0.000000       1.0          833.0
     2017-01-02 1               0.000000       1.0         1166.0
     2017-01-03 1               0.000000       NaN         1082.0
     2017-01-04 1               0.000000       2.0         1252.0
     2017-01-05 1           64731.755646       2.0         3805.0
...                                  ...       ...            ...
4138 2021-06-23 1           39968.258045       NaN          220.0
     2021-06-24 1           38326.499647       NaN          215.0
     2021-06-25 1           38555.634607       NaN          358.0
     2021-06-26 1           37682.384893       NaN          337.0
     2021-06-27 1           38995.573640       NaN          280.0

[49170 rows x 19 columns]

In [24]:
# Убираем мультииндексы и мультиколонки
grouped_data.columns = ['_'.join(col).strip() for col in grouped_data.columns.values]

In [25]:
grouped_data

                            lagerId_count  lagerId_with_discount_count  \
CSB  ds         businessId
235  2017-01-01 1                      51                            0
     2017-01-02 1                      51                            0
     2017-01-03 1                      51                            0
     2017-01-04 1                      51                            0
     2017-01-05 1                      51                            2
...                                   ...                          ...
4138 2021-06-23 1                      16                            3
     2021-06-24 1                      16                            3
     2021-06-25 1                      16                            2
     2021-06-26 1                      16                            3
     2021-06-27 1                      16                            1

                            discount_min  discount_max  discount_mean  \
CSB  ds         businessId
235  2017-01-01 1               0.000000      0.000000       0.000000
     2017-01-02 1               0.000000      0.000000       0.000000
     2017-01-03 1               0.000000      0.000000       0.000000
     2017-01-04 1               0.000000      0.000000       0.000000
     2017-01-05 1               0.000000      0.294152       0.011535
...                                  ...           ...            ...
4138 2021-06-23 1              -0.018008      0.250784       0.027132
     2021-06-24 1              -0.017020      0.250784       0.027194
     2021-06-25 1               0.000000      0.201342       0.022829
     2021-06-26 1              -0.015615      0.201342       0.011665
     2021-06-27 1               0.000000      0.201342       0.012584

                            discount_median  discount_std  \
CSB  ds         businessId
235  2017-01-01 1                       0.0      0.000000
     2017-01-02 1                       0.0      0.000000
     2017-01-03 1                       0.0      0.000000
     2017-01-04 1                       0.0      0.000000
     2017-01-05 1                       0.0      0.057665
...                                     ...           ...
4138 2021-06-23 1                       0.0      0.078306
     2021-06-24 1                       0.0      0.078268
     2021-06-25 1                       0.0      0.062753
     2021-06-26 1                       0.0      0.050732
     2021-06-27 1                       0.0      0.050336

                            filialArea_baseline_min  filialArea_baseline_max  \
CSB  ds         businessId
235  2017-01-01 1                               0.0                 333678.0
     2017-01-02 1                               0.0                 333678.0
     2017-01-03 1                               0.0                 333678.0
     2017-01-04 1                               0.0                 333678.0
     2017-01-05 1                               0.0                 333678.0
...                                             ...                      ...
4138 2021-06-23 1                               0.0                 380980.0
     2021-06-24 1                               0.0                 380980.0
     2021-06-25 1                               0.0                 383321.0
     2021-06-26 1                               0.0                 383321.0
     2021-06-27 1                               0.0                 382525.0

                            filialArea_baseline_mean  \
CSB  ds         businessId
235  2017-01-01 1                      161017.000000
     2017-01-02 1                      161526.294118
     2017-01-03 1                      162187.450980
     2017-01-04 1                      162323.098039
     2017-01-05 1                      149525.627451
...                                              ...
4138 2021-06-23 1                       99741.062500
     2021-06-24 1                       99482.562500
     2021-06-25 1                      100100.875000
     2021-06-26 1                      100070.437500
     2021-06-27 1                       99617.125000

                            filialArea_baseline_median  \
CSB  ds         businessId
235  2017-01-01 1                             172347.0
     2017-01-02 1                             171597.0
     2017-01-03 1                             168748.0
     2017-01-04 1                             166566.0
     2017-01-05 1                               3480.0
...                                                ...
4138 2021-06-23 1                              12337.0
     2021-06-24 1                              12337.0
     2021-06-25 1                              13407.5
     2021-06-26 1                              13407.5
     2021-06-27 1                              13407.5

                            filialArea_baseline_std  filialArea_activity_min  \
CSB  ds         businessId
235  2017-01-01 1                     156526.691645                      0.0
     2017-01-02 1                     157029.137959                      0.0
     2017-01-03 1                     157788.190156                      0.0
     2017-01-04 1                     157973.241719                      0.0
     2017-01-05 1                     157116.651577                      0.0
...                                             ...                      ...
4138 2021-06-23 1                     145912.504111                      0.0
     2021-06-24 1                     145395.185642                      0.0
     2021-06-25 1                     146166.918786                      0.0
     2021-06-26 1                     145908.057692                      0.0
     2021-06-27 1                     145139.271948                      0.0

                            filialArea_activity_max  filialArea_activity_mean  \
CSB  ds         businessId
235  2017-01-01 1                               0.0                  0.000000
     2017-01-02 1                               0.0                  0.000000
     2017-01-03 1                               0.0                  0.000000
     2017-01-04 1                               0.0                  0.000000
     2017-01-05 1                          330198.0              12948.941176
...                                             ...                       ...
4138 2021-06-23 1                          156248.0              13077.125000
     2021-06-24 1                          149359.0              12646.562500
     2021-06-25 1                          150555.0              12662.937500
     2021-06-26 1                          146093.0              12571.437500
     2021-06-27 1                          139751.0              14088.250000

                            filialArea_activity_median  \
CSB  ds         businessId
235  2017-01-01 1                                  0.0
     2017-01-02 1                                  0.0
     2017-01-03 1                                  0.0
     2017-01-04 1                                  0.0
     2017-01-05 1                                  0.0
...                                                ...
4138 2021-06-23 1                                  0.0
     2021-06-24 1                                  0.0
     2021-06-25 1                                  0.0
     2021-06-26 1                                  0.0
     2021-06-27 1                                  0.0

                            filialArea_activity_std  holidayId_mean  \
CSB  ds         businessId
235  2017-01-01 1                          0.000000             1.0
     2017-01-02 1                          0.000000             1.0
     2017-01-03 1                          0.000000             NaN
     2017-01-04 1                          0.000000             2.0
     2017-01-05 1                      64731.755646             2.0
...                                             ...             ...
4138 2021-06-23 1                      39968.258045             NaN
     2021-06-24 1                      38326.499647             NaN
     2021-06-25 1                      38555.634607             NaN
     2021-06-26 1                      37682.384893             NaN
     2021-06-27 1                      38995.573640             NaN

                            total_quantity_sum
CSB  ds         businessId
235  2017-01-01 1                        833.0
     2017-01-02 1                       1166.0
     2017-01-03 1                       1082.0
     2017-01-04 1                       1252.0
     2017-01-05 1                       3805.0
...                                        ...
4138 2021-06-23 1                        220.0
     2021-06-24 1                        215.0
     2021-06-25 1                        358.0
     2021-06-26 1                        337.0
     2021-06-27 1                        280.0

[49170 rows x 19 columns]

In [26]:
grouped_data['holidayId_mean'] = grouped_data['holidayId_mean'].fillna(0)

In [27]:
grouped_data = grouped_data.reset_index()

In [28]:
grouped_data

,CSB,ds,businessId,lagerId_count,lagerId_with_discount_count,discount_min,discount_max,discount_mean,discount_median,discount_std,filialArea_baseline_min,filialArea_baseline_max,filialArea_baseline_mean,filialArea_baseline_median,filialArea_baseline_std,filialArea_activity_min,filialArea_activity_max,filialArea_activity_mean,filialArea_activity_median,filialArea_activity_std,holidayId_mean,total_quantity_sum
0,235,2017-01-01,1,51,0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,333678.0,161017.000000,172347.0,156526.691645,0.0,0.0,0.000000,0.0,0.000000,1.0,833.0
1,235,2017-01-02,1,51,0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,333678.0,161526.294118,171597.0,157029.137959,0.0,0.0,0.000000,0.0,0.000000,1.0,1166.0
2,235,2017-01-03,1,51,0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,333678.0,162187.450980,168748.0,157788.190156,0.0,0.0,0.000000,0.0,0.000000,0.0,1082.0
3,235,2017-01-04,1,51,0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,333678.0,162323.098039,166566.0,157973.241719,0.0,0.0,0.000000,0.0,0.000000,2.0,1252.0
4,235,2017-01-05,1,51,2,0.000000,0.294152,0.011535,0.0,0.057665,0.0,333678.0,149525.627451,3480.0,157116.651577,0.0,330198.0,12948.941176,0.0,64731.755646,2.0,3805.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49165,4138,2021-06-23,1,16,3,-0.018008,0.250784,0.027132,0.0,0.078306,0.0,380980.0,99741.062500,12337.0,145912.504111,0.0,156248.0,13077.125000,0.0,39968.258045,0.0,220.0
49166,4138,2021-06-24,1,16,3,-0.017020,0.250784,0.027194,0.0,0.078268,0.0,380980.0,99482.562500,12337.0,145395.185642,0.0,149359.0,12646.562500,0.0,38326.499647,0.0,215.0
49167,4138,2021-06-25,1,16,2,0.000000,0.201342,0.022829,0.0,0.062753,0.0,383321.0,100100.875000,13407.5,146166.918786,0.0,150555.0,12662.937500,0.0,38555.634607,0.0,358.0
49168,4138,2021-06-26,1,16,3,-0.015615,0.201342,0.011665,0.0,0.050732,0.0,383321.0,100070.437500,13407.5,145908.057692,0.0,146093.0,12571.437500,0.0,37682.384893,0.0,337.0
49169,4138,2021-06-27,1,16,1,0.000000,0.201342,0.012584,0.0,0.050336,0.0,382525.0,99617.125000,13407.5,145139.271948,0.0,139751.0,14088.250000,0.0,38995.573640,0.0,280.0

In [29]:
grouped_data.columns

Index(['CSB', 'ds', 'businessId', 'lagerId_count',
       'lagerId_with_discount_count', 'discount_min', 'discount_max',
       'discount_mean', 'discount_median', 'discount_std',
       'filialArea_baseline_min', 'filialArea_baseline_max',
       'filialArea_baseline_mean', 'filialArea_baseline_median',
       'filialArea_baseline_std', 'filialArea_activity_min',
       'filialArea_activity_max', 'filialArea_activity_mean',
       'filialArea_activity_median', 'filialArea_activity_std',
       'holidayId_mean', 'total_quantity_sum'],
      dtype='object')

In [30]:
grouped_data.ds.min(), grouped_data.ds.max()

('2017-01-01', '2021-06-27')

# Добавляем вторичные временные признаки

In [31]:
## Finding day of year

In [32]:
grouped_data['ds'] = pd.to_datetime(grouped_data['ds'])

In [33]:
grouped_data['day_of_year'] = grouped_data['ds'].dt.dayofyear

In [34]:
grouped_data['week_of_year'] = grouped_data['ds'].dt.week

In [35]:
grouped_data['day_of_week'] = grouped_data['ds'].dt.weekday

In [36]:
grouped_data['is_month_start'] = grouped_data['ds'].dt.is_month_start.astype(int)

In [37]:
grouped_data['is_month_end'] = grouped_data['ds'].dt.is_month_end.astype(int)

In [38]:
grouped_data['is_quarter_start '] = grouped_data['ds'].dt.is_quarter_start.astype(int)

In [39]:
grouped_data['is_quarter_end'] = grouped_data['ds'].dt.is_quarter_end.astype(int)

In [40]:
grouped_data['is_year_start'] = grouped_data['ds'].dt.is_year_start.astype(int)

In [41]:
grouped_data['is_year_end'] = grouped_data['ds'].dt.is_year_end.astype(int)

In [42]:
grouped_data['days_in_month'] = grouped_data['ds'].dt.days_in_month.astype(int)

In [43]:
grouped_data['month_in_year'] = grouped_data['ds'].dt.month

In [44]:
grouped_data['quarter_in_year'] = grouped_data['ds'].dt.quarter

In [45]:
grouped_data

,CSB,ds,businessId,lagerId_count,lagerId_with_discount_count,discount_min,discount_max,discount_mean,discount_median,discount_std,filialArea_baseline_min,filialArea_baseline_max,filialArea_baseline_mean,filialArea_baseline_median,filialArea_baseline_std,filialArea_activity_min,filialArea_activity_max,filialArea_activity_mean,filialArea_activity_median,filialArea_activity_std,holidayId_mean,total_quantity_sum,day_of_year,week_of_year,day_of_week,is_month_start,is_month_end,is_quarter_start,is_quarter_end,is_year_start,is_year_end,days_in_month,month_in_year,quarter_in_year
0,235,2017-01-01,1,51,0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,333678.0,161017.000000,172347.0,156526.691645,0.0,0.0,0.000000,0.0,0.000000,1.0,833.0,1,52,6,1,0,1,0,1,0,31,1,1
1,235,2017-01-02,1,51,0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,333678.0,161526.294118,171597.0,157029.137959,0.0,0.0,0.000000,0.0,0.000000,1.0,1166.0,2,1,0,0,0,0,0,0,0,31,1,1
2,235,2017-01-03,1,51,0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,333678.0,162187.450980,168748.0,157788.190156,0.0,0.0,0.000000,0.0,0.000000,0.0,1082.0,3,1,1,0,0,0,0,0,0,31,1,1
3,235,2017-01-04,1,51,0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,333678.0,162323.098039,166566.0,157973.241719,0.0,0.0,0.000000,0.0,0.000000,2.0,1252.0,4,1,2,0,0,0,0,0,0,31,1,1
4,235,2017-01-05,1,51,2,0.000000,0.294152,0.011535,0.0,0.057665,0.0,333678.0,149525.627451,3480.0,157116.651577,0.0,330198.0,12948.941176,0.0,64731.755646,2.0,3805.0,5,1,3,0,0,0,0,0,0,31,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49165,4138,2021-06-23,1,16,3,-0.018008,0.250784,0.027132,0.0,0.078306,0.0,380980.0,99741.062500,12337.0,145912.504111,0.0,156248.0,13077.125000,0.0,39968.258045,0.0,220.0,174,25,2,0,0,0,0,0,0,30,6,2
49166,4138,2021-06-24,1,16,3,-0.017020,0.250784,0.027194,0.0,0.078268,0.0,380980.0,99482.562500,12337.0,145395.185642,0.0,149359.0,12646.562500,0.0,38326.499647,0.0,215.0,175,25,3,0,0,0,0,0,0,30,6,2
49167,4138,2021-06-25,1,16,2,0.000000,0.201342,0.022829,0.0,0.062753,0.0,383321.0,100100.875000,13407.5,146166.918786,0.0,150555.0,12662.937500,0.0,38555.634607,0.0,358.0,176,25,4,0,0,0,0,0,0,30,6,2
49168,4138,2021-06-26,1,16,3,-0.015615,0.201342,0.011665,0.0,0.050732,0.0,383321.0,100070.437500,13407.5,145908.057692,0.0,146093.0,12571.437500,0.0,37682.384893,0.0,337.0,177,25,5,0,0,0,0,0,0,30,6,2
49169,4138,2021-06-27,1,16,1,0.000000,0.201342,0.012584,0.0,0.050336,0.0,382525.0,99617.125000,13407.5,145139.271948,0.0,139751.0,14088.250000,0.0,38995.573640,0.0,280.0,178,25,6,0,0,0,0,0,0,30,6,2

In [46]:
# grouped_data.to_csv("grouped_data.csv")

In [47]:
data['CSB'].unique()

array([ 267, 1072,  270, 2099, 4118,  476, 2103, 2100, 2619, 2620,  668,
       3986, 2390, 1429,  268, 3985,  260, 2618,  235,  251,  264,  240,
       4125, 2104,  669, 1074, 4110,  670, 4132, 4138], dtype=int64)

In [48]:
grouped_data

,CSB,ds,businessId,lagerId_count,lagerId_with_discount_count,discount_min,discount_max,discount_mean,discount_median,discount_std,filialArea_baseline_min,filialArea_baseline_max,filialArea_baseline_mean,filialArea_baseline_median,filialArea_baseline_std,filialArea_activity_min,filialArea_activity_max,filialArea_activity_mean,filialArea_activity_median,filialArea_activity_std,holidayId_mean,total_quantity_sum,day_of_year,week_of_year,day_of_week,is_month_start,is_month_end,is_quarter_start,is_quarter_end,is_year_start,is_year_end,days_in_month,month_in_year,quarter_in_year
0,235,2017-01-01,1,51,0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,333678.0,161017.000000,172347.0,156526.691645,0.0,0.0,0.000000,0.0,0.000000,1.0,833.0,1,52,6,1,0,1,0,1,0,31,1,1
1,235,2017-01-02,1,51,0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,333678.0,161526.294118,171597.0,157029.137959,0.0,0.0,0.000000,0.0,0.000000,1.0,1166.0,2,1,0,0,0,0,0,0,0,31,1,1
2,235,2017-01-03,1,51,0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,333678.0,162187.450980,168748.0,157788.190156,0.0,0.0,0.000000,0.0,0.000000,0.0,1082.0,3,1,1,0,0,0,0,0,0,31,1,1
3,235,2017-01-04,1,51,0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,333678.0,162323.098039,166566.0,157973.241719,0.0,0.0,0.000000,0.0,0.000000,2.0,1252.0,4,1,2,0,0,0,0,0,0,31,1,1
4,235,2017-01-05,1,51,2,0.000000,0.294152,0.011535,0.0,0.057665,0.0,333678.0,149525.627451,3480.0,157116.651577,0.0,330198.0,12948.941176,0.0,64731.755646,2.0,3805.0,5,1,3,0,0,0,0,0,0,31,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49165,4138,2021-06-23,1,16,3,-0.018008,0.250784,0.027132,0.0,0.078306,0.0,380980.0,99741.062500,12337.0,145912.504111,0.0,156248.0,13077.125000,0.0,39968.258045,0.0,220.0,174,25,2,0,0,0,0,0,0,30,6,2
49166,4138,2021-06-24,1,16,3,-0.017020,0.250784,0.027194,0.0,0.078268,0.0,380980.0,99482.562500,12337.0,145395.185642,0.0,149359.0,12646.562500,0.0,38326.499647,0.0,215.0,175,25,3,0,0,0,0,0,0,30,6,2
49167,4138,2021-06-25,1,16,2,0.000000,0.201342,0.022829,0.0,0.062753,0.0,383321.0,100100.875000,13407.5,146166.918786,0.0,150555.0,12662.937500,0.0,38555.634607,0.0,358.0,176,25,4,0,0,0,0,0,0,30,6,2
49168,4138,2021-06-26,1,16,3,-0.015615,0.201342,0.011665,0.0,0.050732,0.0,383321.0,100070.437500,13407.5,145908.057692,0.0,146093.0,12571.437500,0.0,37682.384893,0.0,337.0,177,25,5,0,0,0,0,0,0,30,6,2
49169,4138,2021-06-27,1,16,1,0.000000,0.201342,0.012584,0.0,0.050336,0.0,382525.0,99617.125000,13407.5,145139.271948,0.0,139751.0,14088.250000,0.0,38995.573640,0.0,280.0,178,25,6,0,0,0,0,0,0,30,6,2

In [49]:
grouped_data.ds.max()

Timestamp('2021-06-27 00:00:00')

In [50]:
# сохраняем grouped_data в csv
grouped_data.to_csv(f'grouped_data_{today}.csv')

## Создаем train и test выборки

In [51]:
train_test_separator = '2021-04-29'
end_test = '2021-04-30'

In [52]:
grouped_data = grouped_data[grouped_data['ds'] <= end_test]

### Train and Test sets

In [53]:
train_set = grouped_data[(grouped_data['ds'] <= train_test_separator)]

In [54]:
train_set

,CSB,ds,businessId,lagerId_count,lagerId_with_discount_count,discount_min,discount_max,discount_mean,discount_median,discount_std,filialArea_baseline_min,filialArea_baseline_max,filialArea_baseline_mean,filialArea_baseline_median,filialArea_baseline_std,filialArea_activity_min,filialArea_activity_max,filialArea_activity_mean,filialArea_activity_median,filialArea_activity_std,holidayId_mean,total_quantity_sum,day_of_year,week_of_year,day_of_week,is_month_start,is_month_end,is_quarter_start,is_quarter_end,is_year_start,is_year_end,days_in_month,month_in_year,quarter_in_year
0,235,2017-01-01,1,51,0,0.0,0.000000,0.000000,0.0,0.000000,0.0,333678.0,161017.000000,172347.0,156526.691645,0.0,0.0,0.000000,0.0,0.000000,1.0,833.0,1,52,6,1,0,1,0,1,0,31,1,1
1,235,2017-01-02,1,51,0,0.0,0.000000,0.000000,0.0,0.000000,0.0,333678.0,161526.294118,171597.0,157029.137959,0.0,0.0,0.000000,0.0,0.000000,1.0,1166.0,2,1,0,0,0,0,0,0,0,31,1,1
2,235,2017-01-03,1,51,0,0.0,0.000000,0.000000,0.0,0.000000,0.0,333678.0,162187.450980,168748.0,157788.190156,0.0,0.0,0.000000,0.0,0.000000,0.0,1082.0,3,1,1,0,0,0,0,0,0,31,1,1
3,235,2017-01-04,1,51,0,0.0,0.000000,0.000000,0.0,0.000000,0.0,333678.0,162323.098039,166566.0,157973.241719,0.0,0.0,0.000000,0.0,0.000000,2.0,1252.0,4,1,2,0,0,0,0,0,0,31,1,1
4,235,2017-01-05,1,51,2,0.0,0.294152,0.011535,0.0,0.057665,0.0,333678.0,149525.627451,3480.0,157116.651577,0.0,330198.0,12948.941176,0.0,64731.755646,2.0,3805.0,5,1,3,0,0,0,0,0,0,31,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49106,4138,2021-04-25,1,16,3,0.0,0.215054,0.038899,0.0,0.083673,0.0,403691.0,95981.250000,7175.0,148873.983203,0.0,356737.0,34165.187500,0.0,93318.800105,0.0,583.0,115,16,6,0,0,0,0,0,0,30,4,2
49107,4138,2021-04-26,1,16,3,0.0,0.215054,0.038899,0.0,0.083673,0.0,403691.0,95981.250000,7175.0,148873.983203,0.0,352670.0,34279.312500,0.0,92843.000669,0.0,346.0,116,17,0,0,0,0,0,0,0,30,4,2
49108,4138,2021-04-27,1,16,3,0.0,0.215054,0.038899,0.0,0.083673,0.0,402837.0,95978.375000,7175.0,148724.116020,0.0,351914.0,34282.562500,0.0,92735.135088,0.0,418.0,117,17,1,0,0,0,0,0,0,30,4,2
49109,4138,2021-04-28,1,16,3,0.0,0.215054,0.038899,0.0,0.083673,0.0,402837.0,95978.375000,7175.0,148724.116020,0.0,351005.0,34225.750000,0.0,92527.617456,6.0,457.0,118,17,2,0,0,0,0,0,0,30,4,2
49110,4138,2021-04-29,1,16,3,0.0,0.215054,0.038899,0.0,0.083673,0.0,403691.0,96031.750000,7175.0,148841.691864,0.0,346674.0,33955.062500,0.0,91540.170865,6.0,587.0,119,17,3,0,0,0,0,0,0,30,4,2

In [55]:
train_set.ds.min(), train_set.ds.max()

(Timestamp('2017-01-01 00:00:00'), Timestamp('2021-04-29 00:00:00'))

In [56]:
test_set = grouped_data[(grouped_data['ds'] >= train_test_separator)]

In [57]:
test_set.ds.min(), test_set.ds.max()

(Timestamp('2021-04-29 00:00:00'), Timestamp('2021-04-30 00:00:00'))

## Пишем цикл

In [65]:
print(date.today())

2021-07-15

In [66]:
from sklearn.model_selection import RandomizedSearchCV, GridSearchCV

In [67]:
import pickle

In [68]:
unique_CSB = data['CSB'].unique()
unique_CSB

array([ 267, 1072,  270, 2099, 4118,  476, 2103, 2100, 2619, 2620,  668,
       3986, 2390, 1429,  268, 3985,  260, 2618,  235,  251,  264,  240,
       4125, 2104,  669, 1074, 4110,  670, 4132, 4138], dtype=int64)

## XGBoost

In [69]:
!pip install xgboost

Requirement already satisfied: xgboost in c:\users\юни\appdata\local\programs\python\python39\lib\site-packages (1.4.2)
Requirement already satisfied: numpy in c:\users\юни\appdata\local\programs\python\python39\lib\site-packages (from xgboost) (1.20.2)
Requirement already satisfied: scipy in c:\users\юни\appdata\local\programs\python\python39\lib\site-packages (from xgboost) (1.6.2)

WARNING: You are using pip version 21.1.2; however, version 21.1.3 is available.
You should consider upgrading via the 'c:\users\юни\appdata\local\programs\python\python39\python.exe -m pip install --upgrade pip' command.

In [70]:
from xgboost import XGBRegressor

## XGBoost Randomize Search

In [396]:
result_dict_xgb = {}
xgb_best_estimators_dict = {}

for csb in unique_CSB[:]:
    #
    train = train_set[train_set['CSB'] == csb]
    test = test_set[test_set['CSB'] == csb]
    
    X_train = train.drop(['total_quantity_sum', 'CSB', 'ds', 'businessId'], axis=1)
    X_test = test.drop(['total_quantity_sum', 'CSB', 'ds', 'businessId'], axis=1)
    
    y_train = train['total_quantity_sum']
    y_test = test['total_quantity_sum']
    
    random_grid={'min_child_weight': (0, 2, 4, 8, 16, 32, 64, 128),
        'max_depth': (0, 2, 4, 6, 8, 10, 12, 14, 16, 18,  20, 30, 40,50,60,70,80,90,100,200,300),
        'subsample': (0.5, 0.6, 0.7, 0.8, 0.9, 1.0),
        'colsample_bytree': (0.5, 1.0),
        'reg_lambda':(0.001, 0.01, 0.1, 1, 10, 100),
        'reg_alpha':(0.001, 0.01, 0.1, 1, 10, 100),
        
        'learning_rate': (0.0001, 0.001, 0.01, 0.1, 0.2, 0.3)
        }
    
    xgb = XGBRegressor()
    
    xgb_random = RandomizedSearchCV(estimator = xgb, param_distributions = random_grid, n_iter = 80, cv = 3, verbose=2, random_state=42, n_jobs = -1)
#     bayes=BayesSearchCV(xgb, params, n_iter=10,scoring='neg_mean_squared_error', cv=5, random_state=42)
    res_xgb=xgb_random.fit(X_train, y_train)
#     print(res_xgb.best_params_)
    
    #Вставляем лучшие параметры в модель
    model_xgb_regression = xgb
    model_xgb_regression.set_params(**res_xgb.best_params_)
    
    #Делаем финальный прогон
    model_xgb_regression.fit(X_train, y_train)
    
    #Сохраняем модели в файлы pickle
    with open(f'xgb_model_{csb}_{today}.pkl','wb') as f:
        pickle.dump(model_xgb_regression,f)
    
    reg_train_pred = model_xgb_regression.predict(X_train)
    reg_test_pred = model_xgb_regression.predict(X_test)
    
    result_dict_xgb[csb] = reg_test_pred 
    xgb_best_estimators_dict[csb] = res_xgb.best_params_
    
    print(csb, len(reg_train_pred), len(y_train), res_xgb.best_params_)

Fitting 3 folds for each of 80 candidates, totalling 240 fits
267 1580 1580 {'subsample': 0.8, 'reg_lambda': 1, 'reg_alpha': 10, 'min_child_weight': 2, 'max_depth': 40, 'learning_rate': 0.1, 'colsample_bytree': 0.5}
Fitting 3 folds for each of 80 candidates, totalling 240 fits
1072 1580 1580 {'subsample': 0.8, 'reg_lambda': 0.1, 'reg_alpha': 100, 'min_child_weight': 4, 'max_depth': 2, 'learning_rate': 0.1, 'colsample_bytree': 1.0}
Fitting 3 folds for each of 80 candidates, totalling 240 fits
270 1580 1580 {'subsample': 0.6, 'reg_lambda': 0.1, 'reg_alpha': 1, 'min_child_weight': 0, 'max_depth': 40, 'learning_rate': 0.1, 'colsample_bytree': 1.0}
Fitting 3 folds for each of 80 candidates, totalling 240 fits
2099 1580 1580 {'subsample': 0.6, 'reg_lambda': 0.1, 'reg_alpha': 1, 'min_child_weight': 0, 'max_depth': 40, 'learning_rate': 0.1, 'colsample_bytree': 1.0}
Fitting 3 folds for each of 80 candidates, totalling 240 fits
4118 1580 1580 {'subsample': 0.9, 'reg_lambda': 10, 'reg_alpha': 10, 'min_child_weight': 4, 'max_depth': 50, 'learning_rate': 0.1, 'colsample_bytree': 0.5}
Fitting 3 folds for each of 80 candidates, totalling 240 fits
476 1580 1580 {'subsample': 0.9, 'reg_lambda': 10, 'reg_alpha': 10, 'min_child_weight': 4, 'max_depth': 50, 'learning_rate': 0.1, 'colsample_bytree': 0.5}
Fitting 3 folds for each of 80 candidates, totalling 240 fits
2103 1580 1580 {'subsample': 0.6, 'reg_lambda': 0.1, 'reg_alpha': 1, 'min_child_weight': 0, 'max_depth': 40, 'learning_rate': 0.1, 'colsample_bytree': 1.0}
Fitting 3 folds for each of 80 candidates, totalling 240 fits
2100 1580 1580 {'subsample': 1.0, 'reg_lambda': 0.001, 'reg_alpha': 100, 'min_child_weight': 2, 'max_depth': 50, 'learning_rate': 0.1, 'colsample_bytree': 1.0}
Fitting 3 folds for each of 80 candidates, totalling 240 fits
2619 1580 1580 {'subsample': 0.9, 'reg_lambda': 100, 'reg_alpha': 100, 'min_child_weight': 2, 'max_depth': 30, 'learning_rate': 0.2, 'colsample_bytree': 1.0}
Fitting 3 folds for each of 80 candidates, totalling 240 fits
2620 1580 1580 {'subsample': 0.5, 'reg_lambda': 100, 'reg_alpha': 1, 'min_child_weight': 0, 'max_depth': 100, 'learning_rate': 0.3, 'colsample_bytree': 1.0}
Fitting 3 folds for each of 80 candidates, totalling 240 fits
668 1580 1580 {'subsample': 0.8, 'reg_lambda': 0.001, 'reg_alpha': 0.01, 'min_child_weight': 4, 'max_depth': 100, 'learning_rate': 0.01, 'colsample_bytree': 1.0}
Fitting 3 folds for each of 80 candidates, totalling 240 fits
3986 1580 1580 {'subsample': 0.6, 'reg_lambda': 0.1, 'reg_alpha': 1, 'min_child_weight': 0, 'max_depth': 40, 'learning_rate': 0.1, 'colsample_bytree': 1.0}
Fitting 3 folds for each of 80 candidates, totalling 240 fits
2390 1580 1580 {'subsample': 0.9, 'reg_lambda': 10, 'reg_alpha': 10, 'min_child_weight': 4, 'max_depth': 50, 'learning_rate': 0.1, 'colsample_bytree': 0.5}
Fitting 3 folds for each of 80 candidates, totalling 240 fits
1429 1580 1580 {'subsample': 0.8, 'reg_lambda': 0.1, 'reg_alpha': 100, 'min_child_weight': 4, 'max_depth': 2, 'learning_rate': 0.1, 'colsample_bytree': 1.0}
Fitting 3 folds for each of 80 candidates, totalling 240 fits
268 1580 1580 {'subsample': 0.6, 'reg_lambda': 10, 'reg_alpha': 0.01, 'min_child_weight': 2, 'max_depth': 50, 'learning_rate': 0.3, 'colsample_bytree': 1.0}
Fitting 3 folds for each of 80 candidates, totalling 240 fits
3985 1580 1580 {'subsample': 0.7, 'reg_lambda': 0.1, 'reg_alpha': 10, 'min_child_weight': 16, 'max_depth': 30, 'learning_rate': 0.1, 'colsample_bytree': 1.0}
Fitting 3 folds for each of 80 candidates, totalling 240 fits
260 1580 1580 {'subsample': 1.0, 'reg_lambda': 100, 'reg_alpha': 100, 'min_child_weight': 4, 'max_depth': 12, 'learning_rate': 0.1, 'colsample_bytree': 0.5}
Fitting 3 folds for each of 80 candidates, totalling 240 fits
2618 1580 1580 {'subsample': 0.8, 'reg_lambda': 0.1, 'reg_alpha': 100, 'min_child_weight': 4, 'max_depth': 2, 'learning_rate': 0.1, 'colsample_bytree': 1.0}
Fitting 3 folds for each of 80 candidates, totalling 240 fits
235 1580 1580 {'subsample': 0.8, 'reg_lambda': 1, 'reg_alpha': 10, 'min_child_weight': 2, 'max_depth': 40, 'learning_rate': 0.1, 'colsample_bytree': 0.5}
Fitting 3 folds for each of 80 candidates, totalling 240 fits
251 1580 1580 {'subsample': 0.8, 'reg_lambda': 10, 'reg_alpha': 0.001, 'min_child_weight': 8, 'max_depth': 90, 'learning_rate': 0.2, 'colsample_bytree': 0.5}
Fitting 3 folds for each of 80 candidates, totalling 240 fits
264 1580 1580 {'subsample': 0.6, 'reg_lambda': 0.1, 'reg_alpha': 10, 'min_child_weight': 4, 'max_depth': 8, 'learning_rate': 0.01, 'colsample_bytree': 0.5}
Fitting 3 folds for each of 80 candidates, totalling 240 fits
240 1580 1580 {'subsample': 0.8, 'reg_lambda': 100, 'reg_alpha': 10, 'min_child_weight': 8, 'max_depth': 80, 'learning_rate': 0.1, 'colsample_bytree': 0.5}
Fitting 3 folds for each of 80 candidates, totalling 240 fits
4125 1580 1580 {'subsample': 1.0, 'reg_lambda': 100, 'reg_alpha': 100, 'min_child_weight': 4, 'max_depth': 12, 'learning_rate': 0.1, 'colsample_bytree': 0.5}
Fitting 3 folds for each of 80 candidates, totalling 240 fits
2104 1580 1580 {'subsample': 0.9, 'reg_lambda': 10, 'reg_alpha': 10, 'min_child_weight': 4, 'max_depth': 50, 'learning_rate': 0.1, 'colsample_bytree': 0.5}
Fitting 3 folds for each of 80 candidates, totalling 240 fits
669 1580 1580 {'subsample': 0.5, 'reg_lambda': 0.01, 'reg_alpha': 0.1, 'min_child_weight': 32, 'max_depth': 50, 'learning_rate': 0.2, 'colsample_bytree': 1.0}
Fitting 3 folds for each of 80 candidates, totalling 240 fits
1074 1580 1580 {'subsample': 0.9, 'reg_lambda': 10, 'reg_alpha': 10, 'min_child_weight': 4, 'max_depth': 50, 'learning_rate': 0.1, 'colsample_bytree': 0.5}
Fitting 3 folds for each of 80 candidates, totalling 240 fits
4110 1580 1580 {'subsample': 0.9, 'reg_lambda': 10, 'reg_alpha': 10, 'min_child_weight': 4, 'max_depth': 50, 'learning_rate': 0.1, 'colsample_bytree': 0.5}
Fitting 3 folds for each of 80 candidates, totalling 240 fits
670 1580 1580 {'subsample': 0.8, 'reg_lambda': 100, 'reg_alpha': 0.1, 'min_child_weight': 2, 'max_depth': 20, 'learning_rate': 0.3, 'colsample_bytree': 0.5}
Fitting 3 folds for each of 80 candidates, totalling 240 fits
4132 1580 1580 {'subsample': 0.6, 'reg_lambda': 0.01, 'reg_alpha': 0.01, 'min_child_weight': 128, 'max_depth': 16, 'learning_rate': 0.1, 'colsample_bytree': 0.5}
Fitting 3 folds for each of 80 candidates, totalling 240 fits
4138 1580 1580 {'subsample': 0.6, 'reg_lambda': 100, 'reg_alpha': 0.001, 'min_child_weight': 16, 'max_depth': 4, 'learning_rate': 0.2, 'colsample_bytree': 0.5}

In [404]:
result_dict_xgb

{267: array([ 803.21844, 1112.0457 ], dtype=float32),
 1072: array([163.1832 , 212.61719], dtype=float32),
 270: array([3491.1167, 3923.0593], dtype=float32),
 2099: array([1875.9725, 2996.4448], dtype=float32),
 4118: array([550.06976, 659.36847], dtype=float32),
 476: array([358.78433, 548.8859 ], dtype=float32),
 2103: array([699.3725, 858.1634], dtype=float32),
 2100: array([104.27613, 145.69287], dtype=float32),
 2619: array([225.7265 , 289.05307], dtype=float32),
 2620: array([142.0917 , 193.42207], dtype=float32),
 668: array([172.04659, 221.26508], dtype=float32),
 3986: array([115.52666, 135.55533], dtype=float32),
 2390: array([493.9551 , 548.41754], dtype=float32),
 1429: array([19.084517, 25.480202], dtype=float32),
 268: array([171.87279, 165.20688], dtype=float32),
 3985: array([39.803226, 81.55916 ], dtype=float32),
 260: array([423.6856, 462.8656], dtype=float32),
 2618: array([44.693237, 59.893177], dtype=float32),
 235: array([7816.814 , 7792.3335], dtype=float32),
 251: array([891.9222, 988.2966], dtype=float32),
 264: array([255.73486, 299.5134 ], dtype=float32),
 240: array([203.2321 , 235.94939], dtype=float32),
 4125: array([567.1471 , 710.58374], dtype=float32),
 2104: array([51.660995, 89.393326], dtype=float32),
 669: array([ 844.16534, 1077.4257 ], dtype=float32),
 1074: array([440.9458 , 634.51886], dtype=float32),
 4110: array([ 886.7856, 1129.5172], dtype=float32),
 670: array([1937.0634, 2073.183 ], dtype=float32),
 4132: array([468.57272, 531.83966], dtype=float32),
 4138: array([563.3775, 661.1658], dtype=float32)}

In [410]:
# Преобразуем лучшие эстиматоры в ДатаФрейм
xgb_best_estimatirs_df = pd.DataFrame(xgb_best_estimators_dict)
xgb_best_estimatirs_df

,267,1072,270,2099,4118,476,2103,2100,2619,2620,668,3986,2390,1429,268,3985,260,2618,235,251,264,240,4125,2104,669,1074,4110,670,4132,4138
subsample,0.800,0.800,0.600,0.600,0.900,0.900,0.600,1.000,0.900,0.500,0.800,0.600,0.900,0.800,0.600,0.700,1.000,0.800,0.800,0.800,0.600,0.800,1.000,0.900,0.500,0.900,0.900,0.800,0.600,0.600
reg_lambda,1.000,0.100,0.100,0.100,10.000,10.000,0.100,0.001,100.000,100.000,0.001,0.100,10.000,0.100,10.000,0.100,100.000,0.100,1.000,10.000,0.100,100.000,100.000,10.000,0.010,10.000,10.000,100.000,0.010,100.000
reg_alpha,10.000,100.000,1.000,1.000,10.000,10.000,1.000,100.000,100.000,1.000,0.010,1.000,10.000,100.000,0.010,10.000,100.000,100.000,10.000,0.001,10.000,10.000,100.000,10.000,0.100,10.000,10.000,0.100,0.010,0.001
min_child_weight,2.000,4.000,0.000,0.000,4.000,4.000,0.000,2.000,2.000,0.000,4.000,0.000,4.000,4.000,2.000,16.000,4.000,4.000,2.000,8.000,4.000,8.000,4.000,4.000,32.000,4.000,4.000,2.000,128.000,16.000
max_depth,40.000,2.000,40.000,40.000,50.000,50.000,40.000,50.000,30.000,100.000,100.000,40.000,50.000,2.000,50.000,30.000,12.000,2.000,40.000,90.000,8.000,80.000,12.000,50.000,50.000,50.000,50.000,20.000,16.000,4.000
learning_rate,0.100,0.100,0.100,0.100,0.100,0.100,0.100,0.100,0.200,0.300,0.010,0.100,0.100,0.100,0.300,0.100,0.100,0.100,0.100,0.200,0.010,0.100,0.100,0.100,0.200,0.100,0.100,0.300,0.100,0.200
colsample_bytree,0.500,1.000,1.000,1.000,0.500,0.500,1.000,1.000,1.000,1.000,1.000,1.000,0.500,1.000,1.000,1.000,0.500,1.000,0.500,0.500,0.500,0.500,0.500,0.500,1.000,0.500,0.500,0.500,0.500,0.500

In [411]:
#Записываем эстиматоры в csv
xgb_best_estimatirs_df.to_csv(f"xgb_best_estimatirs_df_table_{today}.csv")

## Extremely Randomized Trees

In [414]:
from sklearn.ensemble import ExtraTreesRegressor

In [415]:
result_dict_etr = {}
etr_best_estimators_dict = {}

for csb in unique_CSB[:]:
    #
    train = train_set[train_set['CSB'] == csb]
    test = test_set[test_set['CSB'] == csb]
    
    X_train = train.drop(['total_quantity_sum', 'CSB', 'ds', 'businessId'], axis=1)
    X_test = test.drop(['total_quantity_sum', 'CSB', 'ds', 'businessId'], axis=1)
    
    y_train = train['total_quantity_sum']
    y_test = test['total_quantity_sum']
    
    #model_regression = RandomForestRegressor()
    
    #tune paramethers
    # Number of trees in random forest
    n_estimators = [int(x) for x in np.linspace(start = 100, stop = 1000, num = 10)]
    # Number of features to consider at every split
    max_features = ['auto', 'sqrt']
    # Maximum number of levels in tree
    max_depth = [int(x) for x in np.linspace(5, 110, num = 11)]
    max_depth.append(None)
    # Minimum number of samples required to split a node
    min_samples_split = [2, 5, 10]
    # Minimum number of samples required at each leaf node
    min_samples_leaf = [1, 2, 4]
    # Method of selecting samples for training each tree
    bootstrap = [True, False]
    # Create the random grid
    random_grid = {'n_estimators': n_estimators,
                   'max_features': max_features,
                   'max_depth': max_depth,
                   'min_samples_split': min_samples_split,
                   'min_samples_leaf': min_samples_leaf,
                   'bootstrap': bootstrap}
    
    etr = ExtraTreesRegressor()
    # Random search of parameters, using 3 fold cross validation, 
    # search across 100 different combinations, and use all available cores
    etr_random = RandomizedSearchCV(estimator = etr, param_distributions = random_grid, n_iter = 50, cv = 3, verbose=2, random_state=42, n_jobs = -1)
    # Fit the random search model
    etr_random.fit(X_train, y_train)
    
    #Вставляем лучшие параметры в модель
    etr_model_regression = ExtraTreesRegressor()
    etr_model_regression.set_params(**etr_random.best_params_)
    
    #Делаем финальный прогон
    etr_model_regression.fit(X_train, y_train)
    
    #Сохраняем модели в файлы pickle
    with open(f'etr_model_{csb}_{today}.pkl','wb') as f:
        pickle.dump(etr_model_regression,f)
    
    reg_train_pred = etr_model_regression.predict(X_train)
    reg_test_pred = etr_model_regression.predict(X_test)
    
    result_dict_etr[csb] = reg_test_pred 
    etr_best_estimators_dict[csb] = etr_random.best_params_
    
    print(csb, len(reg_train_pred), len(y_train), etr_random.best_params_)

Fitting 3 folds for each of 50 candidates, totalling 150 fits
267 1580 1580 {'n_estimators': 1000, 'min_samples_split': 2, 'min_samples_leaf': 2, 'max_features': 'auto', 'max_depth': 89, 'bootstrap': True}
Fitting 3 folds for each of 50 candidates, totalling 150 fits
1072 1580 1580 {'n_estimators': 300, 'min_samples_split': 5, 'min_samples_leaf': 2, 'max_features': 'auto', 'max_depth': 68, 'bootstrap': False}
Fitting 3 folds for each of 50 candidates, totalling 150 fits
270 1580 1580 {'n_estimators': 100, 'min_samples_split': 5, 'min_samples_leaf': 2, 'max_features': 'auto', 'max_depth': 89, 'bootstrap': False}
Fitting 3 folds for each of 50 candidates, totalling 150 fits
2099 1580 1580 {'n_estimators': 500, 'min_samples_split': 2, 'min_samples_leaf': 1, 'max_features': 'auto', 'max_depth': 47, 'bootstrap': False}
Fitting 3 folds for each of 50 candidates, totalling 150 fits
4118 1580 1580 {'n_estimators': 1000, 'min_samples_split': 10, 'min_samples_leaf': 4, 'max_features': 'auto', 'max_depth': 99, 'bootstrap': False}
Fitting 3 folds for each of 50 candidates, totalling 150 fits
476 1580 1580 {'n_estimators': 400, 'min_samples_split': 5, 'min_samples_leaf': 2, 'max_features': 'auto', 'max_depth': None, 'bootstrap': True}
Fitting 3 folds for each of 50 candidates, totalling 150 fits
2103 1580 1580 {'n_estimators': 900, 'min_samples_split': 2, 'min_samples_leaf': 2, 'max_features': 'auto', 'max_depth': None, 'bootstrap': True}
Fitting 3 folds for each of 50 candidates, totalling 150 fits
2100 1580 1580 {'n_estimators': 500, 'min_samples_split': 2, 'min_samples_leaf': 1, 'max_features': 'auto', 'max_depth': 47, 'bootstrap': False}
Fitting 3 folds for each of 50 candidates, totalling 150 fits
2619 1580 1580 {'n_estimators': 300, 'min_samples_split': 5, 'min_samples_leaf': 1, 'max_features': 'auto', 'max_depth': 78, 'bootstrap': True}
Fitting 3 folds for each of 50 candidates, totalling 150 fits
2620 1580 1580 {'n_estimators': 200, 'min_samples_split': 2, 'min_samples_leaf': 1, 'max_features': 'sqrt', 'max_depth': None, 'bootstrap': False}
Fitting 3 folds for each of 50 candidates, totalling 150 fits
668 1580 1580 {'n_estimators': 1000, 'min_samples_split': 5, 'min_samples_leaf': 1, 'max_features': 'sqrt', 'max_depth': 5, 'bootstrap': True}
Fitting 3 folds for each of 50 candidates, totalling 150 fits
3986 1580 1580 {'n_estimators': 900, 'min_samples_split': 2, 'min_samples_leaf': 2, 'max_features': 'auto', 'max_depth': None, 'bootstrap': True}
Fitting 3 folds for each of 50 candidates, totalling 150 fits
2390 1580 1580 {'n_estimators': 900, 'min_samples_split': 2, 'min_samples_leaf': 4, 'max_features': 'auto', 'max_depth': 47, 'bootstrap': False}
Fitting 3 folds for each of 50 candidates, totalling 150 fits
1429 1580 1580 {'n_estimators': 300, 'min_samples_split': 5, 'min_samples_leaf': 2, 'max_features': 'auto', 'max_depth': 68, 'bootstrap': False}
Fitting 3 folds for each of 50 candidates, totalling 150 fits
268 1580 1580 {'n_estimators': 500, 'min_samples_split': 2, 'min_samples_leaf': 1, 'max_features': 'auto', 'max_depth': 47, 'bootstrap': False}
Fitting 3 folds for each of 50 candidates, totalling 150 fits
3985 1580 1580 {'n_estimators': 900, 'min_samples_split': 2, 'min_samples_leaf': 2, 'max_features': 'auto', 'max_depth': None, 'bootstrap': True}
Fitting 3 folds for each of 50 candidates, totalling 150 fits
260 1580 1580 {'n_estimators': 200, 'min_samples_split': 10, 'min_samples_leaf': 4, 'max_features': 'sqrt', 'max_depth': 89, 'bootstrap': True}
Fitting 3 folds for each of 50 candidates, totalling 150 fits
2618 1580 1580 {'n_estimators': 400, 'min_samples_split': 5, 'min_samples_leaf': 2, 'max_features': 'auto', 'max_depth': None, 'bootstrap': True}
Fitting 3 folds for each of 50 candidates, totalling 150 fits
235 1580 1580 {'n_estimators': 900, 'min_samples_split': 10, 'min_samples_leaf': 2, 'max_features': 'auto', 'max_depth': 110, 'bootstrap': False}
Fitting 3 folds for each of 50 candidates, totalling 150 fits
251 1580 1580 {'n_estimators': 100, 'min_samples_split': 5, 'min_samples_leaf': 2, 'max_features': 'auto', 'max_depth': 89, 'bootstrap': False}
Fitting 3 folds for each of 50 candidates, totalling 150 fits
264 1580 1580 {'n_estimators': 700, 'min_samples_split': 5, 'min_samples_leaf': 4, 'max_features': 'sqrt', 'max_depth': 78, 'bootstrap': True}
Fitting 3 folds for each of 50 candidates, totalling 150 fits
240 1580 1580 {'n_estimators': 400, 'min_samples_split': 5, 'min_samples_leaf': 2, 'max_features': 'auto', 'max_depth': None, 'bootstrap': True}
Fitting 3 folds for each of 50 candidates, totalling 150 fits
4125 1580 1580 {'n_estimators': 700, 'min_samples_split': 5, 'min_samples_leaf': 4, 'max_features': 'sqrt', 'max_depth': 78, 'bootstrap': True}
Fitting 3 folds for each of 50 candidates, totalling 150 fits
2104 1580 1580 {'n_estimators': 1000, 'min_samples_split': 10, 'min_samples_leaf': 4, 'max_features': 'auto', 'max_depth': 99, 'bootstrap': False}
Fitting 3 folds for each of 50 candidates, totalling 150 fits
669 1580 1580 {'n_estimators': 500, 'min_samples_split': 2, 'min_samples_leaf': 1, 'max_features': 'auto', 'max_depth': 47, 'bootstrap': False}
Fitting 3 folds for each of 50 candidates, totalling 150 fits
1074 1580 1580 {'n_estimators': 200, 'min_samples_split': 2, 'min_samples_leaf': 1, 'max_features': 'sqrt', 'max_depth': None, 'bootstrap': False}
Fitting 3 folds for each of 50 candidates, totalling 150 fits
4110 1580 1580 {'n_estimators': 300, 'min_samples_split': 5, 'min_samples_leaf': 1, 'max_features': 'auto', 'max_depth': 78, 'bootstrap': True}
Fitting 3 folds for each of 50 candidates, totalling 150 fits
670 1580 1580 {'n_estimators': 900, 'min_samples_split': 2, 'min_samples_leaf': 2, 'max_features': 'auto', 'max_depth': None, 'bootstrap': True}
Fitting 3 folds for each of 50 candidates, totalling 150 fits
4132 1580 1580 {'n_estimators': 400, 'min_samples_split': 2, 'min_samples_leaf': 4, 'max_features': 'sqrt', 'max_depth': 89, 'bootstrap': True}
Fitting 3 folds for each of 50 candidates, totalling 150 fits
4138 1580 1580 {'n_estimators': 200, 'min_samples_split': 2, 'min_samples_leaf': 1, 'max_features': 'sqrt', 'max_depth': None, 'bootstrap': False}

In [419]:
# Преобразуем лучшие эстиматоры в ДатаФрейм
etr_best_estimatirs_df = pd.DataFrame(etr_best_estimators_dict)

In [420]:
#Записываем эстиматоры в csv
etr_best_estimatirs_df.to_csv(f"etr_best_estimatirs_df_table_{today}.csv")